<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NiFiFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NiFiFlow.Properties.Settings>
            <setting name="FrmMainHeight" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="FrmMainWidth" serializeAs="String">
                <value>677</value>
            </setting>
            <setting name="FrmNifiFlowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FrmNifiFlowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="NifiDirConfig" serializeAs="String">
                <value>C:\NiFi\nifi-1.10.0\conf</value>
            </setting>
            <setting name="NifiFlowLocal" serializeAs="String">
                <value>C:\NiFi\nifi-flows\flows</value>
            </setting>
            <setting name="EditorPath" serializeAs="String">
                <value>C:\Program Files\Sublime Text 3\sublime_text.exe</value>
            </setting>
            <setting name="EditorAlias" serializeAs="String">
                <value>Sublime</value>
            </setting>
            <setting name="NifiFlowBackup" serializeAs="String">
                <value>C:\NiFi\nifi-flows\backup</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AutoCollapse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrmBrowserHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FrmBrowserWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FrmMergeHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FrmMergeWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AutoMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrmExtractWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FrmExtractHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Grid" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FlowCommon" serializeAs="String">
                <value>C:\NiFi\nifi-flows\flows\flow_000_common</value>
            </setting>
            <setting name="FlowMerged" serializeAs="String">
                <value>C:\NiFi\nifi-flows\flows\flow_000_merged</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>0</value>
            </setting>
        </NiFiFlow.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
